body {
  font-family:Lato;
  /*font-family: Arial, sans-serif;*/
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  color: #555;
}

#navbar{
  display:flex;
  justify-content: flex-end;
  width:100%;
  height: 70px;
  align-items:center;  
  position:fixed;
  z-index: 1000
}
#navbar>ul{
   display:flex;
   text-align: right;   
   list-style:none;
}
#navbar a{
  display:flex;
  align-items:center;
  height: 70px;
  padding:0 30px;
}
a{
  text-decoration:none;
  color:#555;
}
a:hover {
  background-color: #A7C6ED;
  color:white;
}
section{
  padding:20px;
  color: #2d89c6;
  width: 100%;
  height: calc(100vh - 30px);  
}

#Inicio{
  display:grid;
  justify-content:center;
  align-items:center;
  font-size:50px;
  text-align:center;
}

#Sobre_mi{
  display:grid;
  justify-content:center;
  align-items:center;
  padding:30px;
}

#Grid_proyectos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#Proyectos > div{
  display: grid;
  grid-auto-columns: auto ;
}

@media (max-width: 480px){
  #cabecera{font-size:13px;}
  #welcome-section{
  font-size:30px;}
}
