*{
  font-family:Lato;
  margin:0;
  padding:0;
}

#cabecera{
  font-size:18px;
  background-color: #3498db;
  width:100%;
  height:30%;
  margin:0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  color: #555;
}

#navbar{
  display:flex;
  justify-content: flex-end;
  width:100%;
  height: 70px;
  align-items:center;
  
  position:fixed;
  z-index: 1000
}
#navbar>ul{
   display:flex;
   text-align: right;   
   list-style:none;
}
#navbar a{
  display:flex;
  align-items:center;
  height: 70px;
  padding:0 30px;
}
a{
  text-decoration:none;
  color:white;
}
a:hover {
  background-color: #2d89c6;
}
section{
color: #2d89c6;
  width: 100%;
  height: calc(100vh - 30px);
  
}
